<div class="ui inverted vertical footer segment">
  <div class="ui container">
    <div class="ui stackable inverted divided equal height stackable grid">
      <div class="three wide column">
        <h4 class="ui inverted header">Find Us</h4>
        <div class="ui inverted link list">
          <a href="http://twitter.com/pullrequestday" class="item"><i class="twitter icon"></i>Twitter</a>
          <a href="http://github.com/pullrequestday" class="item"><i class="github icon"></i>GitHub</a>
          <a href="#" class="item"></a>
          <a href="#" class="item"></a>
        </div>
      </div>
      <div class="three wide column">
        <h4 class="ui inverted header">Useful things:</h4>
        <div class="ui inverted link list">
          <!-- <a href="http://openhealthcare.org.uk" class="item"><i class="external square icon"></i> Open Health Care</a> -->
          <!-- <a href="http://democracyclub.org.uk" class="item"><i class="external square icon"></i> Democracy Club</a> -->
          <a href="#" class="item">What is a Pull Request?</a>
          <a href="#" class="item">How do I make a Pull Request?</a>
          <a href="#" class="item">How do I make my project easy to contribute to?</a>
        </div>
      </div>
      <div class="seven wide column">
        <h4 class="ui inverted header">International Pull Request Day</h4>
        <p>
          One million pull requests in one day.
        </p>
      </div>
    </div>
  </div>
</div>
