<!-- Following Menu -->
<div class="ui large top fixed hidden menu">
  <div class="ui container">
    <a href="/" class="item">Pull Request Day</a>
    <a href="/about/" class="item">About</a>
    <a href="/pledge/" class="item">Pledge</a>
    <!-- <a class="item">Pull Request Hackday</a> -->
    <!-- <div class="right menu"> -->
    <!--   <div class="item"> -->
    <!--     <a class="ui button">Log in</a> -->
    <!--   </div> -->
    <!--   <div class="item"> -->
    <!--     <a class="ui primary button">Sign Up</a> -->
    <!--   </div> -->
    <!-- </div> -->
  </div>
</div>

<!-- Sidebar Menu -->
<div class="ui vertical inverted sidebar menu">
  <a href="/" class="active item">Pull Request Day</a>
  <a href="/about/" class="item">About</a>
  <a href="/pledge/" class="item">Pledge</a>
  <!-- <a class="item">Pull Request Hackday</a> -->
</div>
