&lt;div class="ui card"&gt;
  &lt;div class="content"&gt;
    &lt;img class="right floated mini ui image" 
            src="YOUR PROFILE PHOTO"&gt;
    &lt;div class="header"&gt;
      YOUR NAME
    &lt;/div&gt;
    &lt;div class="description"&gt;
      YOUR 140 CHAR BIO
    &lt;/div&gt;
    &lt;div class="extra content"&gt;
      &lt;p&gt;
        &lt;a target="_blank" 
              href="http://twitter.com/YOUR TWITTER USERNAME"&gt;
          &lt;i class="twitter icon"&gt;&lt;/i&gt;
          @YOUR TWITTER USERNAME
        &lt;/a&gt;
        &lt;br /&gt;
        &lt;a target="_blank" 
              href="http://github.com/YOUR GITHUB USERNAME"&gt;
          &lt;i class="github icon"&gt;&lt;/i&gt;
          @YOUR GITHUB USERNAME
        &lt;/a&gt;
      &lt;/p&gt;
    &lt;/div&gt;
  &lt;/div&gt; &lt;!-- End of content --&gt;
&lt;/div&gt; &lt;!-- End of card --&gt;
