&lt;div class="ui card"&gt;
    &lt;div class="content"&gt;
      &lt;div class="header"&gt;
          &lt;a target="_blank"
                href="http://github.com/YOUR PROJECT URL"&gt;
            &lt;i class="github icon"&gt;&lt;/i&gt;
            PROJECT NAME
          &lt;/a&gt;
      &lt;/div&gt;
      &lt;div class="description"&gt;
        PROJECT DESCRIPTION
      &lt;/div&gt;
      &lt;div class="extra content"&gt;
        &lt;p&gt;
          &lt;a target="_blank"
                href="http://github.com/CONTRIBUTING DOCUMENTATION"&gt;
            Contributing
          &lt;/a&gt;
          &lt;br/&gt;
          &lt;a target="_blank"
                href="http://github.com/ISSUES IN PROJECT"&gt;
            Issues: LABEL TO IDENTIFY PARTICIPATING ISSUES
          &lt;/a&gt;
          &lt;br/&gt;
          &lt;!-- This can be repeated as needed--&gt;
          &lt;a target="_blank"
                href="http://github.com/YOUR GITHUB USERNAME"&gt;
            Mainter @YOUR GITHUB USERNAME
          &lt;/a&gt;
          &lt;br /&gt;
        &lt;/p&gt;
      &lt;/div&gt;
    &lt;/div&gt; &lt;!-- End of content --&gt;
  &lt;/div&gt; &lt;!-- End of card --&gt;